        
    }  */
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
	}
	}
	}
	}
	}
	}
	}
	}
	}
	}
	}
	}
	}
	}
	}
	}
	}
	}
	}
	}
	}
	}
	}
	}
	}
	}
	}
	}
	}
	}
	}
	}
	}
	}
	}
	}
	}
	}
	}
	}
	}
	}
	}
	}
	}
	}
	}
	}
	}













































































































	0% {
	0% {
	100% {
	100% {
#about {
	#about {
	#about {
	#about {
#about .about-me {
	#about .about-me {
	#about .about-me {
#about h4 {
#about p a {
/***** ABOUT SECTION *****/
	/***** ABOUT SECTION *****/
	/***** ABOUT SECTION *****/
		align-items: center;
		align-items: center;
	align-items: center;
	align-items: center;
	align-items: center;
	animation: slide-left 1.5s ease-out;
	animation: slide-right 1.5s ease-out;
	background-color: #0b150c;
	background-color: #ccc;
	background-color: transparent;
	background-size: cover;
	background-size: cover;
	background: url(../img/about-me.png) center no-repeat;
	background: url(../img/header-background.jpg) center no-repeat;
/***** BASE STYLES *****/
	/***** BASE STYLES *****/
	/***** BASE STYLES *****/
body {
	border-bottom: 2px solid #3f3f3f;
		border: none;
	border-radius: 25px;
	box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.3);
	box-shadow: none;
	color: #519f49;
	color: #5e8362;
	color: #5e8362;
	color: #5e8362;
	color: black;
	color: #fff;
	color: #ffffff;
	color: #ffffff;
	color: #ffffff;
	color: red;
	color: rgba(255, 255, 255, 0.8);
#contact {
#contact a {
#contact address {
	#contact address {
	#contact address {
	#contact address a {
	#contact address a {
#contact a:hover {
	#contact .contact-info {
	#contact .contact-info {
	#contact .content-wrapper {
	#contact h3 {
/***** CONTACT SECTION *****/
	/***** CONTACT SECTION *****/
	/***** CONTACT SECTION *****/
#contact .social-media {
	#contact .social-media {
	#contact .social-media {
#contact .social-media a {
#contact .social-media a:hover {
.content-wrapper {
	.content-wrapper {
	cursor: pointer;
/***** DESKTOP STYLES *****/
	display: block;
		display: flex;
		display: flex;
		display: flex;
		display: flex;
	display: flex;
	display: flex;
	display: flex;
	display: flex;
	display: flex;
	display: flex;
	display: flex;
	display: flex;
	display: flex;
		display: none;
	display: none;
figure {
		flex-basis: 100%;
		flex-basis: 100%;
		flex-basis: 30%;
		flex-basis: 30%;
		flex-basis: 30%;
		flex-basis: 45%;
		flex-basis: 45%;
		flex-basis: 50%;
		flex-basis: 50%;
	flex-direction: column;
	flex-direction: column;
		flex-direction: row;
		flex-direction: row-reverse;
		flex-flow: row wrap;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Roboto';
	font-family: 'Roboto', sans-serif;
	font-size: 1.125em;
	font-size: 1.125em;
		font-size: 1.25em;
		font-size: 1.25em;
		font-size: 1.25em;
	font-size: 1.25em;
        font-size: 1.5em;
		font-size: 1.5em;
		font-size: 1.5em;
		font-size: 1.5em;
		font-size: 1.5em;
		font-size: 1.5em;
	font-size: 1.5em;
	font-size: 16px;
		font-size: 1.875em;
		font-size: 1.875em;
		font-size: 1.875em;
		font-size: 1em;
	font-size: 1em;
	font-size: 1em;
	font-size: 1em;
		font-size: 2.25em;
		font-size: 2.5em;
	font-size: 2.5rem;
		font-size: 2em;
	font-size: 2em;
		font-size: 3em;
		font-size: 4em;
	font-style: inherit;
	font-style: italic;
footer {
footer .content-wrapper {
/***** FOOTER SECTION *****/
footer ul {
footer ul img {
	/* h1 {
	h1 {
	h1 {
h1 {
	h2 {
	h2 {
	h2 {
h2 {
	h3 {
	h3 {
h3 {
	h4 {
	h4 {
h4 {
header h2 span {
.header-img {
	.header-img {
/***** HEADER SECTION *****/
	/***** HEADER SECTION *****/
	/***** HEADER SECTION *****/
	height: 15px;
	height: 170px;
	height: 20%;
		height: 210px;
	height: 30px;
		height: 400px;
	height: 40px;
		height: 450px;
		height: 500px;
	height: 500px;
	height: 500px;
		height: 600px;
		height: 80px;
html {
img {
	justify-content: center;
	justify-content: center;
	justify-content: center;
	justify-content: center;
	justify-content: center;
		justify-content: flex-end;
	justify-content: space-around;
		justify-content: space-between;
		justify-content: space-between;
		justify-content: space-between;
	justify-content: space-between;
@keyframes slide-left {
@keyframes slide-right {
.left.slide {
	list-style-type: none;
	list-style-type: none;
.main-nav {
	.main-nav {
.main-nav li {
	.main-nav li {
.main-nav li a {
	.main-nav li a {
	.main-nav li a {
	margin: 0;
	margin: 0px;
	margin: 0px;
	margin: 10px;
	margin: 15px auto;
		margin: 20px;
	margin: 2em 0;
	margin-bottom: 20%;
		margin-bottom: 20px;
		margin-left: 40px;
		margin-right: 30px;
	margin-top: 20px;
		max-width: 1200px;
	max-width: 150px;
@media only screen and (min-width: 1200px) {
@media only screen and (min-width: 500px) {
@media only screen and (min-width: 768px) {
.nav-bar {
	.nav-bar {
	.nav-bar {
#navbar-toggle {
	#navbar-toggle {
	#navbar-toggle {
#navbar-toggle.active .one {
#navbar-toggle.active .three {
#navbar-toggle.active .two {
#navbar-toggle div {
#navbar-toggle .one,
#navbar-toggle .two {
		opacity: 0;
		opacity: 0;
		opacity: 1;
		opacity: 1;
	overflow: hidden;
	p {
	p {
p {
	padding: 0;
	padding: 0;
		padding-bottom: 0;
	padding-bottom: 1em;
#portfolio {
	#portfolio {
	#portfolio figure {
#portfolio h4 {
#portfolio .project-description {
	#portfolio .project-description {
#portfolio .project-description :nth-child(3) {
	#portfolio .project-description :nth-child(3) {
	#portfolio .project-description p {
	#portfolio .project-description p {
	#portfolio .project-item {
	#portfolio .reverse {
/***** PORTFOLIO SECTION *****/
	/***** PORTFOLIO SECTION *****/
	/***** PORTFOLIO SECTION *****/
	position: absolute;
	right: 10px;
		right: 30px;
.right.slide {
.social-media-icons {
/***** TABLET STYLES *****/
	text-align: center;
	text-align: center;
	text-align: center;
	text-align: center;
		text-align: right;
	text-decoration: none;
	text-decoration: none;
	text-decoration: none;
	top: 10px;
		top: 30px;
		transform: scale(1);
		transform: scale(1);
		transform: scale(2);
	transform: translate(0, -7px) rotate(-45deg);
	transform: translate(0, 7px) rotate(45deg);
		transform: translateX(-30rem);
		transform: translateX(30rem);
	transform: translateX(-55px);
	transition-duration: 1s;
	transition-duration: 250ms;
	transition-property: height;
	transition-timing-function: cubic-bezier(0.13, 0.24, 0.35, 1.64);
	transition-timing-function: ease-in-out;
.visible {
	.visible {
	width: 100%;
	width: 100%;
	width: 20px;
	width: 40%;
	width: 50%;
	width: 50px;
	width: 60%;
		width: 70%;
		width: 85%;
	width: 90%;
