/***** BASE STYLES *****/

html {
    font-size: 16px;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: #ffffff;
    background-color: #0B150C;
}

h1 {
    font-size: 1em;
}

h2 {
    font-size: 2em;
    font-family: 'Roboto';
    margin: 0;
    width: 50%;
}

h3 {
    color: #5e8362;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    text-align: center;
}

h4 {
    font-size: 1.125em;
}

p {
    font-size: 1em;
}

figure {
    margin: 2em 0;
}

img {
    width: 100%;
}

.content-wrapper {
    width: 90%;
}

/***** HEADER SECTION *****/

header .nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    margin-bottom: 10px;
}

header .nav a.icon {
    color: #ffffff;
    display: block;
  }

nav {
    display: none;
    width: 100%;
}

nav.visible {
    display: block;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column;
    list-style-type: none;
    padding: 0;
    height: 100px;
}

nav ul li a {
    text-decoration: none;
    font-size: 1em;
    color: #ffffff;
}

.header-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background: url(../img/header-background.jpg) center no-repeat;    
    background-size: cover;
}

header h2 span {
    color: #519F49;
}

/***** PORTFOLIO SECTION *****/

#portfolio {
    display: flex;
    justify-content: center;
}

#portfolio h4 {
    margin: 0px;
}

#portfolio .project-description {
    border-bottom: 2px solid #3f3f3f;
}

#portfolio .project-description :nth-child(3) {
    padding-bottom: 1em;
}

/***** ABOUT SECTION *****/

#about {
    background: url(../img/about-me.png) center no-repeat;
    background-size: cover;
    color: black;
    height: 500px;
    display: flex;
    justify-content: center;
}

#about h4 {
    margin: 0px;
}

#about .about-me {
    width: 100%;
}

#about p a {
    color: red;
    font-style: italic;
    text-decoration: none;
}

/***** CONTACT SECTION *****/

#contact {
    display: flex;
    justify-content: center;
    text-align: center;
}

#contact address {
    font-style: inherit;
}

#contact a {
    text-decoration: none;
    color: #ffffff;
}

#contact a:hover {
    color: #5e8362;
}

#contact .social-media {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#contact .social-media a {
    color: #5e8362;
    font-size: 2.5rem;
}

.social-media-icons {
    display: flex;
    justify-content: space-around;
    width: 60%;
}

#contact .social-media a:hover {
    color: #ffffff;
}

/***** FOOTER SECTION *****/

footer {
    font-size: 1em;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

footer .content-wrapper {
    display:flex;
    flex-direction: column;
    align-items: center;
}

footer ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    width: 40%;
    max-width: 150px;
}

footer ul img {
    width: 50px;
    height: 30px;
}


/***** TABLET STYLES *****/

@media only screen and (min-width: 500px) {
    h1 {
        font-size: 1.5em;
    }

    header .nav a.icon {
        font-size: 1.5em;
    }

    nav ul li a{
        font-size: 1.125em;
    }
    
    h2 {
        font-size: 2.5em;
    }
    
    #about {
        height: 400px;
    }
    
    #about .about-me {
        width: 85%;
    }
}

@media only screen and (min-width: 768px) {
    
/***** BASE STYLES *****/
    
    h1 {
        font-size: 1.875em;
    }
    
    h2 {
        font-size: 3em;
    }

    h3 {
        font-size: 2em;
    }

    h4 {
        font-size: 1.25em;
    }

    p {
        font-size: 1.25em;
    }

    /***** HEADER SECTION *****/

    nav ul {
        height: 150px;
    }

    nav ul li a{
        font-size: 1.5em;
    }
    
    header .nav a.icon {
        font-size: 1.875em;
    }

    /***** PORTFOLIO SECTION *****/

    #portfolio {
        margin-bottom: 20px;
    }
    
    #portfolio .project-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #portfolio .reverse {
        flex-direction: row-reverse;
        text-align: right;
    }

    #portfolio figure {
        flex-basis: 45%;
    }

    #portfolio .project-description {
        flex-basis: 45%;
        border: none;
    }

    #portfolio .project-description p {
        font-size: 1em;
    }

    #portfolio .project-description :nth-child(3) {
        padding-bottom: 0;
    }

    /***** ABOUT SECTION *****/

    #about {
        height: 450px;
    }

    #about .about-me {
        width: 70%;
    }

    /***** CONTACT SECTION *****/

    #contact .content-wrapper {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
    }

    #contact h3 {
        flex-basis: 100%;
    }

    #contact address {
        flex-basis: 50%;
    }

    #contact address a {
        font-size: 1.25em;
    }

    #contact .social-media {
        flex-basis: 50%;
    }

    #contact .contact-info {
        flex-basis: 100%;
    }
}

/***** DESKTOP STYLES *****/

@media only screen and (min-width: 1200px) {
    
    /***** BASE STYLES *****/   
    
    h1 {
        font-size: 1.875em;
    }
    
    h2 {
        font-size: 4em;
    }

    h3 {
        font-size: 2.25em;
    }

    h4 {
        font-size: 1.5em;
    }

    p {
        font-size: 1.5em;
    }

    .content-wrapper {
        max-width: 1200px;
    }

    /***** HEADER SECTION *****/

    header .nav {
        justify-content: space-around;        
        flex-flow: row wrap;
    }

    header .nav a.icon { 
        display: none;
    }

    nav {
        justify-content: center;
        align-items: center;
        width: 45%;
    }

    nav ul {
        justify-content: space-around;
        flex-flow: row;
        margin: 0;
    }
    
    nav ul li a{
        font-size: 1.875em;
    }

    .header-img {
        height: 600px;
    }

    /***** PORTFOLIO SECTION *****/

    #portfolio .project-description p {
        font-size: 1.5em;
    }

    /***** ABOUT SECTION *****/

    #about {
        height: 500px;
    }

    /***** CONTACT SECTION *****/

    #contact address {
        flex-basis: 30%;
    }

    #contact address a {
        font-size: 1.5em;
    }

    #contact .social-media {
        flex-basis: 30%;
    }

    #contact .contact-info {
        flex-basis: 30%;
    }
}